body {
  background-image: url("../images/paper.gif");
  background-repeat: repeat;
  border: 1px solid;
  margin: 0 auto;
  text-align: center;
  width: 1216px;
}

body, table, form, input, td, th, p, textarea, select {
  font-family: Verdana, Helvetica, sans serif;
  font-size: 11px;
  overflow-y: scroll;
}

.pane {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #bbb;
  border-collapse: collapse;
  width: 100%;
}

.left-panel {
  border: 1px solid #bbb;
  vertical-align: top;
  width: 20%;
}

.main-panel {
  border: 1px solid #bbb;
}



/************* Device status *************/

.device-status-bar {
  background-color: #ff0000;
  height: 4px;
  /*margin-top: 30px;*/
  width: 150px;
}

.device-status-bar.running {
  background-color: #74da20;
}

.device-status-bar.idle {
  background-color: #ff7800;
}

/************* Queue status *************/

.queue-status-bar {
  background-color: #ff0000;
  height: 4px;
  margin-left: 15px;
  width: 135px;
}

.queue-status-bar.waiting {
  background-color: #ff7800;
}

.queue-status-bar.running {
  background-color: #74da20;
}

.queue-status-bar.held {
  background-color: #000000;
}

/************* Job status *************/

.job-status-bar {
  background-color: #ff0000;
  height: 4px;
  margin-left: 15px;
  width: 135px;
}

.job-status-bar.running {
  background-color: #74da20;
}



.queue-header {
  margin-left: 15px;
}

.queue-stat {
  margin-left: 15px;
}

.button {
  background-color: #bbb;
  float: right;
  height: 16px;
  width: 16px;
}

.button.details {
  background: url("../images/information.png") no-repeat;
}

.button.entries {
  background: url("../images/application_view_list.png") no-repeat;
}


.hide {
  display: none;
}

.icon-level {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.view-level-1 .icon-level {
  background: url("../images/lightbulb_off.png") no-repeat;
}

.view-level-2 .icon-level {
  background: url("../images/lightbulb.png") no-repeat;
}

.view-level-3 .icon-level {
  background: url("../images/lightbulb.png") no-repeat;
}


.view-level-1 .level-basic {
  display: none;
}

.view-level-1 .level-full {
  display: none;
}

.view-level-2 .level-basic {
  display: block;
}

.view-level-2 .level-full {
  display: none;
}

.view-level-3 .level-basic {
  display: block;
}

.view-level-3 .level-full {
  display: block;
}
