<?xml version="1.0" encoding="UTF-8"?>
<web-app id="SimWorker" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
>
  <description>A Bambi worker with user modifiable job phases</description>
  <display-name>Bambi Console</display-name>
  <distributable/>
  <!-- enable debugging -->
  <context-param>
    <param-name>debug</param-name>
    <param-value>2</param-value>
  </context-param>
  <servlet>
    <servlet-name>WorkerServlet</servlet-name>
    <servlet-class>org.cip4.bambi.core.BambiServlet</servlet-class>
    <init-param>
      <param-name>bambiDump</param-name>
      <param-value>C:/bambidump/console</param-value>
      <description>If set, Local location (root) of the directory to dump to</description>
    </init-param>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/overview/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/jmf/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/showDevice/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/login/*</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/showQueue/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/showSubscriptions/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/processNextPhase/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/devices/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <!-- entrance point for manipulating QueueEntries -->
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/modifyQE/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <!-- entrance point for showing JDF File info -->
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/showJDF/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/exception.jsp</location>
  </error-page>
</web-app>
