<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Bambi" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<description>A lightweight JDF device</description>
	<display-name>A lightweight JDF device</display-name>
	<distributable/>
	<!-- enable debugging -->
	<context-param>
		<param-name>debug</param-name>
		<param-value>2</param-value>
	</context-param>
	<servlet>
		<servlet-name>Bambi</servlet-name>
		<display-name>Bambi </display-name>
		<description >Bambi Root Device</description>
		<servlet-class>org.cip4.bambi.DeviceServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DeviceInfo</servlet-name>
		<display-name>Bambi - Device Info</display-name>
		<description >Bambi Device Info</description>
		<servlet-class>org.cip4.bambi.servlets.DeviceInfoServlet</servlet-class>
		<load-on-startup>20</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bambi</servlet-name>
		<url-pattern>/BambiRootDevice/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeviceInfo</servlet-name>
		<url-pattern>/DeviceInfo</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
