name: Build

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java: [15]
    runs-on: ${{ matrix.os }}
    name: Java build on ${{ matrix.os }} with JDK ${{ matrix.java }}
    steps:
      -   name: Setup JDK ${{ matrix.java }}
          uses: actions/setup-java@v1
          with:
            java-version: ${{ matrix.java }}

      -   name: Check out sources...
          uses: actions/checkout@v2

      -   name: Build with Gradle
          run: ./gradlew test
